* {
  font-family: 'Montserrat', sans-serif;
}

.playerSearch {
  text-align: center;
}

.playerSearch input {
  margin: 10px;
}

.addDataSection input {
  margin: 10px;
}

.addDataSection {
  text-align: center;
}

#myChart {
  margin: 0 auto;
}

.h1 {
  text-align: center;
}

#numberComparison {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
}

#numberComparison td, #numberComparison th {
  border: 1px solid #ddd;
  padding: 8px;
}

#numberComparison tr:nth-child(even) {
  background-color: #f2f2f2;
}

 #numberComparison tr:hover {
  background-color: #ddd;
}

#numberComparison th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
